<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<style>
    .boton-agregar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #cc0000;
}

.formulario {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.formulario h2 {
  margin-top: 0;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.formulario button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}

  
</style>
<body>
        <h1>holass</h1>
        <button id="abrir-formulario" class="boton-agregar">+</button>

        <div id="formulario" class="formulario">
            <h2>Formulario</h2>
            <form id="formulario-agregar">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" required>
    
                <label for="prioridad">Prioridad:</label>
                <input type="number" id="prioridad" name="prioridad" min="1" max="10" required>
    
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required></textarea>
    
                <label for="color">Color:</label>
                <input type="color" id="color" name="color" required>
    
                <button type="submit">Guardar</button>
            </form>
        </div>
        <script src="../client.js"></script>

</body>
</html>